<a href="https://colab.research.google.com/github/AkhilRam7/Covid19Tweets/blob/master/Untitled31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import recordlinkage
from recordlinkage.datasets import load_febrl4, load_febrl3
import tensorflow as tf
from tensorflow.keras import layers
from recordlinkage.base import BaseClassifier
from recordlinkage.adapters import KerasAdapter

In [2]:
dfA, dfB, links = load_febrl4(return_links=True)

In [3]:
print(dfA.columns, '\n',dfB.columns)

Index(['given_name', 'surname', 'street_number', 'address_1', 'address_2',
       'suburb', 'postcode', 'state', 'date_of_birth', 'soc_sec_id'],
      dtype='object')
 Index(['given_name', 'surname', 'street_number', 'address_1', 'address_2',
       'suburb', 'postcode', 'state', 'date_of_birth', 'soc_sec_id'],
      dtype='object')

In [4]:
dfA.head()

             given_name   surname street_number  ... state date_of_birth soc_sec_id
rec_id                                           ...
rec-1070-org   michaela   neumann             8  ...   nsw      19151111    5304218
rec-1016-org   courtney   painter            12  ...   vic      19161214    4066625
rec-4405-org    charles     green            38  ...   nsw      19480930    4365168
rec-1288-org    vanessa      parr           905  ...    sa      19951119    9239102
rec-3585-org    mikayla  malloney            37  ...   vic      19860208    7207688

[5 rows x 10 columns]

In [5]:
# Indexation step

indexer = recordlinkage.Index()
indexer.block('given_name')

block_indexer = indexer.index(dfA, dfB)

In [6]:
block_indexer

MultiIndex([('rec-1070-org', 'rec-3024-dup-0'),
            ('rec-1070-org', 'rec-2371-dup-0'),
            ('rec-1070-org', 'rec-4652-dup-0'),
            ('rec-1070-org', 'rec-4795-dup-0'),
            ('rec-1070-org', 'rec-1314-dup-0'),
            ('rec-2371-org', 'rec-3024-dup-0'),
            ('rec-2371-org', 'rec-2371-dup-0'),
            ('rec-2371-org', 'rec-4652-dup-0'),
            ('rec-2371-org', 'rec-4795-dup-0'),
            ('rec-2371-org', 'rec-1314-dup-0'),
            ...
            ('rec-1413-org', 'rec-1413-dup-0'),
            ( 'rec-735-org',  'rec-735-dup-0'),
            ('rec-1361-org', 'rec-1361-dup-0'),
            ('rec-3090-org', 'rec-3090-dup-0'),
            ('rec-2571-org', 'rec-2571-dup-0'),
            ('rec-4528-org', 'rec-4528-dup-0'),
            ('rec-4887-org', 'rec-4887-dup-0'),
            ('rec-4350-org', 'rec-4350-dup-0'),
            ('rec-4569-org', 'rec-4569-dup-0'),
            ('rec-3125-org', 'rec-3125-dup-0')],
           names=['rec_id_1', 'rec_id_2'], length=77249)

In [7]:
# Comparison step

compare_cl = recordlinkage.Compare()

compare_cl.exact('given_name', 'given_name', label='given_name')
compare_cl.string('surname', 'surname', method='jarowinkler', threshold=0.85, label='surname')
compare_cl.exact('date_of_birth', 'date_of_birth', label='date_of_birth')
compare_cl.exact('suburb', 'suburb', label='suburb')
compare_cl.exact('state', 'state', label='state')
compare_cl.exact('postcode', 'postcode', label='post')
compare_cl.string('address_1', 'address_1', threshold=0.85, label='address_1')
compare_cl.string('address_2', 'address_2', threshold=0.85, label='address_2')

matches = compare_cl.compute(block_indexer, dfA, dfB)

In [8]:
matches

                             given_name  surname  ...  address_1  address_2
rec_id_1     rec_id_2                             ...
rec-1070-org rec-3024-dup-0           1      0.0  ...        0.0        0.0
             rec-2371-dup-0           1      0.0  ...        0.0        0.0
             rec-4652-dup-0           1      0.0  ...        0.0        0.0
             rec-4795-dup-0           1      0.0  ...        0.0        0.0
             rec-1314-dup-0           1      0.0  ...        0.0        0.0
...                                 ...      ...  ...        ...        ...
rec-4528-org rec-4528-dup-0           1      1.0  ...        1.0        1.0
rec-4887-org rec-4887-dup-0           1      1.0  ...        1.0        0.0
rec-4350-org rec-4350-dup-0           1      1.0  ...        1.0        1.0
rec-4569-org rec-4569-dup-0           1      1.0  ...        0.0        1.0
rec-3125-org rec-3125-dup-0           1      1.0  ...        1.0        0.0

[77249 rows x 8 columns]

In [9]:
class NNClassifier(KerasAdapter, BaseClassifier):
    """Neural network classifier."""
    def __init__(self):
        super(NNClassifier, self).__init__()

        model = tf.keras.Sequential()
        model.add(layers.Dense(16, input_dim=8, activation='relu'))
        model.add(layers.Dense(8, activation='relu'))
        model.add(layers.Dense(1, activation='sigmoid'))
        model.compile(
            optimizer=tf.keras.optimizers.Adam(0.001),
            loss='binary_crossentropy',
            metrics=['accuracy']
        )

        self.kernel = model

cl = NNClassifier()
cl.fit(matches, links)

2415/2415 [==============================] - 4s 2ms/step - loss: 0.0291 - accuracy: 0.9973